#include "version.h"
#include <windows.h>
#define XSTR(s) STR(s)
#define STR(s) #s
1 24
BEGIN
    "<?xml version=""1.0"" encoding=""UTF-8"" standalone=""yes""?>"
    "<assembly xmlns=""urn:schemas-microsoft-com:asm.v1"" manifestVersion=""1.0"" xmlns:asmv3=""urn:schemas-microsoft-com:asm.v3"">"
    "<assemblyIdentity version=""" VERSION_XML """ processorArchitecture=""*"" name=""ArKT.QuickRotate"" type=""win32""/>"
    "<description>Quick Rotate</description>"
    "<dependency><dependentAssembly><assemblyIdentity type=""win32"" name=""Microsoft.Windows.Common-Controls"" version=""6.0.0.0"" processorArchitecture=""*"" publicKeyToken=""6595b64144ccf1df"" language=""*""/></dependentAssembly></dependency>"
    "<trustInfo xmlns=""urn:schemas-microsoft-com:asm.v3""><security><requestedPrivileges><requestedExecutionLevel level=""asInvoker"" uiAccess=""false""/></requestedPrivileges></security></trustInfo>"
    "<compatibility xmlns=""urn:schemas-microsoft-com:compatibility.v1""><application><supportedOS Id=""{8e0f7a12-bfb3-4fe8-b9a5-48fd50a15a9a}""/><supportedOS Id=""{1f676c76-80e1-4239-95bb-83d0f6d0da78}""/></application></compatibility>"
    "<asmv3:application><asmv3:windowsSettings><dpiAware xmlns=""http://schemas.microsoft.com/SMI/2005/WindowsSettings"">true</dpiAware><dpiAwareness xmlns=""http://schemas.microsoft.com/SMI/2016/WindowsSettings"">PerMonitorV2</dpiAwareness></asmv3:windowsSettings></asmv3:application>"
    "</assembly>"
END
101 ICON "icon.ico"
VS_VERSION_INFO VERSIONINFO
FILEVERSION VERSION_CSV
PRODUCTVERSION VERSION_CSV
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "ArKT-7"
            VALUE "FileDescription", "Quick Rotate v6.1 by ArKT-7"
            VALUE "FileVersion", VERSION_STR
            VALUE "InternalName", "QuickRotate"
            VALUE "LegalCopyright", "Copyright (C) 2026 ArKT-7"
            VALUE "OriginalFilename", "QuickRotate.exe"
            VALUE "ProductName", "Quick Rotate"
            VALUE "ProductVersion", VERSION_STR
            VALUE "Comments", "https://github.com/ArKT-7/QuickRotate"
            VALUE "LegalTrademarks", "ArKT-7"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END